<head>
    <title>Grocery Planning App</title>
</head>

<h1><center>Welcome to the Grocery Menu App!</center></h1>
<h2><center>Please feel free to check back often as I continue updating the app.</center></h2>
<h3><li>Food List Master for Grocery Pricing and purchase quantities: <%=link_to"Food List", 'foods#index' %></li></h3>
<h3><li>Meals/Menu List Master for Meal Planning with Ingredients and Prep Times: <%=link_to"Meals List", 'meals#index' %></li></h3>
<h3><li>Meal Planning List: <%=link_to"Meals Chooser List", 'choosers#index' %></li></h3>
<h3><li>Weekly Grocery List for Preview and Printing: <%= link_to "Grocery List", 'choosers/groceries' %></li></h3>